body {
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
}

#container {
	margin:100px auto;
	width:360px;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.done {
  color:gray;
  text-decoration:line-through;
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

li {
	background: #ffffff;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

.list {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align:center;
	color: white;
	font-size: 0.7em;
	width: 0;
	display:inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

h1 {
	background: #2980b9;
	color: white;
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 10px 20px;
	text-transform:uppercase;
}

input {
	font-size: 14px;
	padding: 13px 13px 13px 20px;
	border: none;
	width: 100%;
	background: #f7f7f7;
	box-sizing: border-box;
	color: #666;
	border: 3px solid rgba(0,0,0 0);
}

input:focus {
	background: white;
	border: 2px solid #2980b9;
	outline: none;
}

.fa-plus {
	float:right;
}